{% extends "layouts/base.njk" %}

{% block content %}

  <div class="h64 bg-purple-500 p-20">
    <h1 class="text-3xl font-bold text-white uppercase mb-4">fastify-simple-starter-kit</h1>
    <p class="text-white text-base">
      A simple starter kit for Fastify which tries to provide a simple but yet complete structure suitable for small and medium sized applications.
    </p>
    <p class="text-white text-base mt-4">
      It provides you with a basic project structure and libraries which allows you to quickly start a new Fastify project.
    </p>
  </div>

  <div class="grid grid-cols-1 md:grid-cols-3 gap-4 mt-8">
    <div class="border rounded shadow-lg bg-white px-2 py-3">
      <div class="px-6 py-4">
        <div class="font-bold text-xl mb-2">
          Fastify
        </div>
        <p class="text-grey-darker text-base">
          Fast and low overhead web framework, for Node.js
        </p>
      </div>
    </div>

    <div class="border rounded shadow-lg bg-white px-2 py-3">
      <div class="px-6 py-4">
        <div class="font-bold text-xl mb-2">
                    ObjectionJS
                </div>
        <p class="text-grey-darker text-base">
                    Objection.js is an ORM for Node.js that aims to stay out of your way and make it as easy as possible
                    to use the full power of SQL and the underlying database engine while still making the common
                    stuff easy and enjoyable.
                </p>
      </div>
    </div>

    <div class="border rounded shadow-lg bg-white px-2 py-3">
      <div class="px-6 py-4">
        <div class="font-bold text-xl mb-2">
          fastify-swagger
        </div>
        <p class="text-gray-darker text-base">
          Swagger documentation generator for Fastify. It uses the schemas you declare in your routes to generate a swagger compliant doc.
        </p>
      </div>
    </div>

    <div class="border rounded shadow-lg bg-white px-2 py-3">
      <div class="px-6 py-4">
        <div class="font-bold text-xl mb-2">
                    Tailwindcss
                </div>
        <p class="text-grey-darker text-base">
                    A utility-first CSS framework packed with classes like flex, pt-4, text-center and rotate-90 that can be
                    composed to build any design, directly in your markup.
                </p>
      </div>
    </div>

    <div class="border rounded shadow-lg bg-white px-2 py-3">
      <div class="px-6 py-4">
        <div class="font-bold text-xl mb-2">
                    AlpineJS
                </div>
        <p class="text-grey-darker text-base">A rugged, minimal framework for composing JavaScript behavior in your markup.</p>
      </div>
    </div>

    <div class="border rounded shadow-lg bg-white px-2 py-3">
      <div class="px-6 py-4">
        <div class="font-bold text-xl mb-2">
          Snowpack + Browsersync
        </div>
        <p class="text-gray-darker text-base">
          Enim adipisicing labore eiusmod dolor in nisi magna commodo in. Commodo dolore proident voluptate aute consequat exercitation ut nisi nisi culpa magna voluptate quis tempor. Sint ipsum do eiusmod eiusmod consequat reprehenderit reprehenderit nostrud.
        </p>
      </div>
    </div>
  </div>
</div>

{% endblock %}
